#modal-message.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
          %i.fa.fa-times
        %h4#myModalLabel.modal-title{align: "center"}= "New message to #{@user.fullname}"
      .modal-body
        = form_for @message do |f|
          = f.hidden_field :recipient_id, value: @user.id
          = f.hidden_field :read, value: false
          %br
          = f.text_field :theme, class: "form-control", placeholder: "Theme"
          %br
          = f.text_area :content, class: "form-control", placeholder: "Message"
          %br
          %div{align: "center"}
            = f.submit "Send", class: "btn btn-success"