- content_for :title, "Messages"
-if user_signed_in?
  %ul.nav.nav-tabs#myTab
    %li.active
      %a#mtbin{"data-toggle" => "tab", :href => "#inbox"} Inbox
    %li
      %a#mtbout{"data-toggle" => "tab", :href => "#outbox"} Outbox
  .tab-content
    #inbox.tab-pane.active
      .page-header
        - if @resieved_messages.any?
          %table.table
            %tr
              %th From
              %th Theme
              %th Received at
              %th Actions
            - @resieved_messages.each do |message|
              %tr
                %td= User.find(message.sender_id).fullname
                - if message.read
                  %td
                    %a{href: "#", "data-target" => "##{message.id}", "data-toggle" => "modal"}= message.theme
                - else
                  %td.danger
                    %a{href: "#", "data-target" => "##{message.id}", "data-toggle" => "modal"}= message.theme
                %td= message.created_at.strftime("%H:%M %d %B %Y.")
                %td
                  .btn-group
                    = link_to message, method: :delete, class: "btn btn-sm btn-danger" do
                      %i.fa.fa-inverse.fa-lg.fa-times= " Delete"
                    - if !message.read
                      = form_for message do |f|
                        = f.hidden_field :read, value: true
                        = f.submit "Mark as read", class: "btn btn-default btn-sm"
              .modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1", id: "#{message.id}"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
                        %i.fa.fa-times
                      %h4#myModalLabel.modal-title{align: "center"}= message.theme
                    .modal-body
                      %p
                        %pre= message.content
                    .modal-footer
                      .panel-heading
                        %h4.panel-title
                          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{message.id}"}= 'Reply'
                      .panel-collapse.collapse.on{id: "collapse#{message.id}"}
                        .panel-body
                          = form_for @new_message do |f|
                            = f.hidden_field :recipient_id, value: message.sender_id
                            %br
                            = f.text_field :theme, class: "form-control", placeholder: "Theme"
                            %br
                            = f.text_area :content, class: "form-control", placeholder: "Message"
                            %br
                            %div{align: "center"}
                              = f.submit "Send", class: "btn btn-success",onClick:"this.value='Sending..'"
                      %em.text-muted= "From #{User.find(message.sender_id).fullname} #{message.created_at.strftime("%H:%M %d %B %Y.")}"
        - else
          %h1.text-muted You have not any received messages.
    #outbox.tab-pane
      .page-header
        - if @sent_messages.any?
          %table.table
            %tr
              %th To
              %th Theme
              %th Received at
              %th Actions
            - @sent_messages.each do |message|
              %tr
                %td= User.find(message.recipient_id).fullname
                - if message.read
                  %td
                    %a{href: "#", "data-target" => "##{message.id}a", "data-toggle" => "modal"}= message.theme
                - else
                  %td
                    %a{href: "#", "data-target" => "##{message.id}a", "data-toggle" => "modal"}= "#{message.theme} (unread)"
                %td= message.created_at.strftime("%H:%M %d %B %Y.")
                %td
                  = link_to message, method: :delete, class: "btn btn-sm btn-danger" do
                    %i.fa.fa-inverse.fa-lg.fa-times= " Delete"
              .modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1", id: "#{message.id}a"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
                        %i.fa.fa-times
                      %h4#myModalLabel.modal-title{align: "center"}= message.theme
                    .modal-body
                      %p
                        %pre= message.content
                    .modal-footer
                      %em.text-muted= "To #{User.find(message.recipient_id).fullname} #{message.created_at.strftime("%H:%M %d %B %Y.")}"
        - else
          %h1.text-muted You have not any sent messages.