- content_for :title, "Messages"
= render 'users_form'
-if user_signed_in?
  %ul.nav.nav-tabs#myTab
    %li.active
      %a#mtbin{"data-toggle" => "tab", :href => "#inbox"} Inbox
    %li
      %a#mtbout{"data-toggle" => "tab", :href => "#outbox"} Outbox
    %li  
      .text-right
        .btn-hide-right-pane
          %i.fa.fa-envelope.fa-lg New
  .tab-content
    #inbox.tab-pane.active
      .page-header
        - if @resieved_messages.any?
          %table.panel.panel-info
            %tr
              %th From
              %th Theme
              %th Received at
            - @resieved_messages.each do |message|
              - if !message.read
                - danger = "new_alert"
                - mark_as_read = "mark_as_read"
              %tr{class: "#{message.id}"}
                %td
                  %h4
                    = link_to User.find(message.sender_id).fullname, User.find(message.sender_id)
                %td
                  %a{href: "#", "data-target" => "##{message.id}", "data-toggle" => "modal", class: mark_as_read, data: { id: message.id } }
                    %span.pull-right{class: "#{danger} #{message.id}"}
                    %h4
                      = message.theme
                %td
                  %h4
                    .label.label-success.label-lg= message.created_at.strftime("%H:%M")
                  = message.created_at.strftime("%d %B %Y.")
              .modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1", id: "#{message.id}"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
                        %i.fa.fa-times
                      %h4#myModalLabel.modal-title{align: "center"}= message.theme
                    .modal-body
                      %p
                        %pre= message.content.html_safe
                    .modal-footer
                      .panel-heading
                        %h4.panel-title
                          %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{message.id}"}= 'Reply'
                      .panel-collapse.collapse.on{id: "collapse#{message.id}"}
                        .panel-body
                          = form_for @new_message do |f|
                            = f.hidden_field :recipient_id, value: message.sender_id
                            %br
                            = f.text_field :theme, class: "form-control", placeholder: "Theme"
                            %br
                            = f.text_area :content, class: "form-control", placeholder: "Message"
                            %br
                            %div{align: "center"}
                              = f.submit "Send", class: "btn btn-success",onClick:"this.value='Sending..'"
                      %em.text-muted= "From #{User.find(message.sender_id).fullname} #{message.created_at.strftime("%H:%M %d %B %Y.")}"
        - else
          %h1.text-muted You have not any received messages.
    #outbox.tab-pane
      .page-header
        - if @sent_messages.any?
          %table
            %tr
              %th To
              %th Theme
              %th Sent at
            - @sent_messages.each do |message|
              - if !message.read
                - danger = "new_alert"
              %tr{class: "#{message.id}"}
                %td
                  %h4
                    = link_to User.find(message.recipient_id).fullname, User.find(message.recipient_id)
                %td
                  %a{href: "#", "data-target" => "##{message.id}a", "data-toggle" => "modal"}
                    %span.pull-right{class: "#{danger} #{message.id}"}
                    %h4
                      = message.theme
                %td
                  %h4
                    .label.label-success.label-lg= message.created_at.strftime("%H:%M")
                  = message.created_at.strftime("%d %B %Y.")
              .modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1", id: "#{message.id}a"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
                        %i.fa.fa-times
                      %h4#myModalLabel.modal-title{align: "center"}= message.theme
                    .modal-body
                      %p
                        %pre= message.content.html_safe
                    .modal-footer
                      %em.text-muted= "To #{User.find(message.recipient_id).fullname} #{message.created_at.strftime("%H:%M %d %B %Y.")}"
        - else
          %h1.text-muted You have not any sent messages.