- content_for :title, "Sign"
%div{align: "center"}
  %h2= "Sign up"
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true }, "data-abide" => "") do |f|
  -if @user.errors.any?
    .panel.panel-danger
      .panel-heading
        Errors: #{@user.errors.full_messages.count}
      .panel-body
        -@user.errors.full_messages.each do |ue|
          %ul
            %li= "#{ue}"
  .col-md-6.col-md-offset-3.well
    .text-right
      = link_to user_omniauth_authorize_path('facebook'), class: 'btn btn-primary btn-sm' do
        %b
          Sign up with facebook&nbsp;
          %i.fa.fa-facebook.fa-lg
    %br
    .row
      .col-md-6=f.text_field :first_name, class: 'form-control', placeholder: "Firsname"
      .col-md-6=f.text_field :last_name, class: 'form-control', placeholder: "Lastname"
    %br
    = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: "Email"
    %br
    = f.password_field :password, class: 'form-control', placeholder: "Password"
    %br
    = f.password_field :password_confirmation, class: 'form-control', placeholder: "Password confirm"
    %br
    %b.text-muted.pull-right
      Already have a profile?
      = link_to "Sign in", new_user_session_path
    %div{align: "center"}
      =f.submit "Sign up", class: "btn btn-success"
