%div{class: "small-8 large-centered columns panel"}
  %h2 Sign up
  .row
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true }, "data-abide" => "") do |f|
      -if @user.errors.any?
        .panel.panel-danger 
          .panel-heading
            Errors: #{@user.errors.full_messages.count}
          .panel-body
            -@user.errors.full_messages.each do |ue|
              %ul
                %li= "#{ue}"    
      .col-md-5  
        =f.text_field :first_name, class: 'form-control', placeholder: "*Enter your firsname...", pattern: "[a-zA-Z]+"
        %br
        =f.text_field :last_name, class: 'form-control', placeholder: "Enter your lastname..."
        %br
        =f.text_field :hometown, class: 'form-control', placeholder: "*Enter your Hometown...", pattern: "[a-zA-Z]+"
        %br
        %h2= "Gender:"
        -[true, false].map do |gender|
          =f.radio_button :sex, gender
          -if gender == true
            Male
          -else
            Female
      .col-md-5  
        %H3= "Choose your profile photo..."
        =f.file_field :avatar, class: "form-control", text: "Profile_photo..."
        =f.hidden_field :avatar_cache
        %br
        =f.number_field :age, in: 5..99, class: 'form-control', placeholder: 'Please enter your age...', pattern: "integer"
        %br
        = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: "*Enter your email..."
        %br
        = f.password_field :password, class: 'form-control', placeholder: "*Enter your password..."
        %br
        = f.password_field :password_confirmation, class: 'form-control', placeholder: "*Confirm your password..."
        %br
        =f.submit "Sign up", class: "btn btn-success"
