.row
  = form_for @comment, class: "form-inline"  do |f|
    .col-md-9= f.text_field :content, class: 'form-control', style: "resize:vertical"
    = f.hidden_field :article_id, value: @article.id
    .col-md-3
      = button_tag(type: 'submit', class: "btn btn-success btn-sm btn-block") do
        %i.fa.fa-comment.fa.lg.fa-inverse= " Post"