= content_tag_for(:div, article, class: "row") do
  .post{style: 'position: relative'}
    .post-img-content
      %img.img-responsive{src: article.photo.url, 'max-height' => '196px' }/
      %span.post-title
        %b= article.theme
        %br
        - if !article.group.nil?
          %b= article.group.name
    .content
      .author
        By
        %b= article.user.fullname
        |
        %time= article.return_created_at_as_nice_string
      %div.post-content.well.text-center
        %strong.text-muted= article.content.empty? ? 'Looks like empty' : "#{strip_tags(article.content).html_safe[0..80]}"
      %div
        = yield(:remove)
        .text-right{style: 'position:absolute;bottom:5px;right:10px'}
          %a.btn.btn-warning.btn-sm{href: article_path(article)} Read more
