= render 'paste_html'
%br
= form_for @article do |f|
  = f.hidden_field :group_id, value: params[:group_id] if params[:group_id].present?
  .main-article-pane
    - if @article.errors.any?
      .panel.panel-danger
        .panel-heading
          Errors
        .panel-body
          -@article.errors.full_messaes.each do |ue|
            %i.fa.fa-warning= "#{ue}"
    .text-right
      - if !current_page?(new_article_path)
        = link_to @article, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure want to delete article ' }  do
          %i.fa.fa-times
    %br
      = f.text_field :theme, placeholder: "Theme...", class: "article-theme",autocomplete: 'off' , style: "width: 100%;", value: (params[:theme].present? ? params[:theme] : @article.theme )
    %br
    .text-center= f.cktext_area :content, id: 'editor'
    %br
  .side-panel-article
    = button_tag(type: "submit", class: "orange-d2 pull-left") do
      %i.fa.fa-check.fa-lg= " Save"
    %button.gray-d2.pull-right{href: '#', data: { toggle: 'modal', target: '#paste_html' } }
      %i.fa.fa-code.fa-lg &nbsp;Paste html
    %br
    .container-dial
      %br
      %br
      .text-center= f.select :category, @category, included_blank: true, class: "styled-select"
      = f.file_field :photo, id: "file-input"
      %br
      %br
      .row
        .col-md-10.col-md-offset-1
          - if @article.photo?
            #imagee.get_cover= image_tag @article.photo.url, class: 'img-thumbnail'
          - else
            #imagee.get_cover
              .text-center.pander
                %i.fa.fa-5x.fa-upload
                %h3 Choose article cover image
          %br
