= render 'paste_html'
%br
= form_for @article do |f|
  .col-xs-12.col-sm-6.col-md-8.animated.bounceInLeft
    -if @article.errors.any?
      .panel.panel-danger
        .panel-heading
          Errors
        .panel-body
          -@article.errors.full_messages.each do |ue|
            %i.fa.fa-warning= "#{ue}"
    .pull-left= link_to "Organize with groups", new_group_path, class: "btn btn-primary btn-sm"
    .text-right
      %a.hide-side.btn.btn-default{ data: { show: 'true' } }
        %i.fa.fa-arrow-right
    %br
    .pander
      = f.text_field :theme, placeholder: "Theme...", class: "form-control article-theme", style: "width: 100%;", value: (params[:theme].present? ? params[:theme] : @article.theme )
      %br
      = f.cktext_area :content, id: 'editor'
    %br
  .col-xs-6.col-md-4.animated.bounceInRight
    - if !current_page?(new_article_path)
      = link_to @article, method: :delete, class: "btn btn-danger btn-sm" do
        %i.fa.fa-times= " Remove"
    = button_tag(type: "submit", class: "btn btn-success btn-sm article-submit") do
      %i.fa.fa-check= " Save"
    %a.btn.btn-default.btn-sm{href: '#', data: { toggle: 'modal', target: '#paste_html' } } Paste html
    %hr
    = label_tag "Category:"
    = f.select :category, @category, class: "styled-select"
    %br= label_tag "Photo:"
    = f.file_field :photo, id: "file-input"
    #imagee= image_tag @article.photo.url
