- content_for :title, "#{@articles.count} articles found"
- if @articles.count > 0
  %ul.media-list
    - @articles.each do |a|
      %li.well
        = link_to a do
          = image_tag a.photo.url(:thumb), align: "left", class: "img-circle"
          %h4= "#{a.theme}"
        %em.text-muted= "#{strip_tags(a.content)[0..200]} ...."
        %em.text-primary.text-right= link_to "#{a.user.fullname}", a.user
        %em.text-right= "at #{a.return_created_at_as_nice_string}"
    %br
- else
  %h5.text-muted= "No articles found..."



