- content_for :title, @article.theme[0..15]
= stylesheet_link_tag "comment"
- if @article.user == current_user
  = render "add_to_group_modal"
.page-header
  .row
    .col-xs-12.col-sm-6.col-md-8.animated.slideInLeft.verticalLine
      %div
        .pull-right
          %button.close{href: "#", "data-target" => "#modal-full-screen", "data-toggle" => "modal"}
            %i.fa.fa-arrows-alt
        %h1
          = "#{@article.theme} (#{@article.category})"
        %h4
          %em.text-muted
            by
            = link_to @article.user.fullname, @article.user
            %i.fa.fa-circle
            #{@article.created_at.strftime("%d %b %Y")}
            - if !@article.group.nil?
              %i.fa.fa-circle
              = link_to @article.group.name, @article.group
        .article-content #{@article.content.html_safe}
      %br
    .col-xs-6.col-md-4.animated.slideInRight
      %h4
        %strong viewed
        #{@article.views.count || 0} times
      - if @article.user == current_user
        = link_to edit_article_path, class: "btn btn-warning btn-sm" do
          %i.fa.fa-edit &nbsp;Edit
        #a.btn.btn-primary.btn-sm{ data: { toggle: "modal", target: "#add_to_group" } }
          %i.fa.fa-plus &nbsp;Add to group
        %br
        %br
      .thumbnail
        = image_tag @article.photo.url
      - if user_signed_in?
        = render 'comments/form'
      %br
      %div#unordered_list.all_comments
        #comments_count Comments(#{@article.comments.count})
        - @article.comments.order(created_at: :asc).each do |comment|
          = render 'comments/comment', comment: comment
= render 'users/articles'
= render "full_screen"
