%div{class: "row"}
  %div{class: 'small-8 large-centered columns'}  
    %h2= "#{@article.theme}"
    #{@article.content.html_safe}
%br
%div{class: "row panel"}  
  %h5{align: "right"}= "#{@article.created_at.strftime("%d %b. %Y")} by #{User.find(@article.user_id).fullname}"
  =link_to "Delete", @article, method: :delete