.panel.panel-default
  .panel-heading
    %h1
      My groups(#{current_user.groups.count})
      = link_to "Create new", new_group_path, class: "btn btn-sm btn-success"
  .panel-body
    - if current_user.groups.any?
      - current_user.groups.each do |group|
        .well
          %h1= link_to group.name, group
          .row
            - if group.articles.any?
              - group.articles.each do |article|
                .col-md-4
                  = render "articles/article", article: article

            - else
              %h2.text-center.text-muted Empty group
    - else
      %h1 You have not any groups
      = link_to "Create", new_group_path
