.pander-sm
  %h1
    = @group.name
    - if user_signed_in? && @group.user == current_user
      = link_to "add article", "#", class: "btn btn-default btn-xs", data: { toggle: "modal", target: "#add_article_to_group" }
      = link_to "delete group", @group, method: :delete,  class: "btn btn-danger btn-xs", "data-confirm" => "Really want to delete this group?"
    = render "add_article_modal" if user_signed_in?
  %h3
    %em.text-muted= @group.description
  %h4
    %em.text-muted
      by
      = link_to @group.user.fullname, @group.user
      %i.fa.fa-circle
      #{@group.created_at.strftime("%d %b %Y")}
  %hr
  %h1.text-center
    Articles(#{@group.articles.count || 0})
    .row
      - @group.articles.each do |article|
        .col-md-2
          .text-right= link_to "remove", delete_article_from_group_path(article: article), class: "btn btn-danger btn-xs" if user_signed_in? && @group.user == current_user
          .thumbnail.article-thumb
            = link_to article do
              = image_tag article.photo.url, class: "img-rounded article-thumb-image"
            .caption
              %h4= "#{article.theme}"

