.pander-sm
  %h1
    = @group.name
    - if user_signed_in? && @group.user == current_user
      = link_to "add article", "#", class: "btn btn-default btn-xs", data: { toggle: "modal", target: "#add_article_to_group" }
      = link_to "delete group", @group, method: :delete,  class: "btn btn-danger btn-xs", "data-confirm" => "Really want to delete this group?"
    = render "add_article_modal" if user_signed_in?
  %h3
    %em.text-muted= @group.description
  %h4
    %em.text-muted
      by
      = link_to @group.user.fullname, @group.user
      %i.fa.fa-circle
      #{@group.created_at.strftime("%d %b %Y")}
  %hr
  %h1.text-center
    Articles(#{@group.articles.count || 0})
  .row
    - @group.articles.each do |article|
      .col-md-4
        = render "articles/article", article: article

