.pander-sm
  .text-center
    %h1
      = @group.name
      %br
    - if user_signed_in? && @group.user == current_user
      = render 'admin_panel', group: @group
  %h4.text-center
    %em.text-muted= @group.description
  %h5.text-center
    %em.text-muted
      by
      = link_to @group.user.fullname, @group.user
      %i.fa.fa-circle
      #{@group.created_at.strftime("%d %b %Y")}
  %hr
  %h1.text-center
    Articles
    .label.label-success= @group.articles.count
    Today
    .label.label-success= @today.count
  .row
    - @group.articles.each do |article|
      .col-md-4
        = render "articles/article", article: article
= render "add_article_modal" if user_signed_in?
