- content_for :title, "Main"
%div
  -if user_signed_in?
    .page-header
      %h2= "Recently added articles"
      .row
        - @articles.each do |article|
          .col-sm-1.col-md-2
            .thumbnail
              = link_to article do
                = image_tag article.photo.url, class: "img-rounded"
                .caption
                  %h4= "#{article.theme}"
                  %h5= article.user.fullname
  - else
    %div{align: "center"}
      <iframe width="640" height="390" src="//www.youtube.com/embed/_gUatp_9NHc" frameborder="0" allowfullscreen></iframe>
