- content_for :title, "Users"
%div
  -if user_signed_in?       
    .page-header
      %h2= "Recently added articles"
      .row
        - @articles.each do |article|
          .col-sm-1.col-md-2
            .thumbnail
              = link_to article do
                = image_tag article.user.avatar.url(:thumb), class: "img-rounded"
                .caption
                  %h4= "#{article.theme}"
                  %h5= article.user.fullname 
  - else
    %div{align: "center"}
      <iframe width="640" height="390" src="//www.youtube.com/embed/_gUatp_9NHc" frameborder="0" allowfullscreen></iframe>
      %h3= "Please login or register to have access to calendar and create custom articles"
= link_to "http://illusion.wikia.com/wiki/Main_Page" do       
  %H4= "Don't know how to use website? Go to our WIKI"
