%div
  -if user_signed_in?
    = link_to "http://illusion.wikia.com/wiki/Main_Page" do       
      %H4="Don't know how to use website? Go to our WIKI"       
    .page-header
      illusion members:
      .row
        -@users.each do |u|
          .col-sm-6.col-md-4
            .thumbnail
              =image_tag u.avatar.url(:thumb)
              .caption
                %h5="#{u.fullname}(#{u.email})"
                -if u.get_count == 0
                  %h4{style: "color:#f00;"}="unactive user"
                -if u.get_count > 0 && u.get_count < 10
                  %h4{style: "color:#00f;"}="active user"
                -if u.get_count >= 10
                  %h4{style: "color:#0f0;"}="awesome user"
                =link_to "View #{u.first_name} profile...", u , class: "btn btn-default"
  -else
    %div{align: "center"}  
      %h3= "Please login or register to have access to calendar and create custom articles"
      = link_to "http://illusion.wikia.com/wiki/Main_Page" do       
       %H4="Don't know how to use website? Go to our WIKI" 
      =image_tag "logosa.jpg"
