- content_for :title, @user.fullname
- @ID =  @user.id
.container
  %div
    %p
      %h1.col-md-3= "#{@user.fullname}"
      - if !@user.followed_by?(current_user)
        .col.md-3= link_to "Follow", follows_path , method: :post, class: "btn btn-success"
      - else
        = link_to "Unfollow", follow_path, method: :post, class: "btn btn-danger", id: @user.id
      =image_tag @user.avatar.url(:thumb), align: "right", hspace: "20", vspace: "20"
      %br
      - if @user.age
        Age: #{@user.age}
      %br
      - if @user.hometown
        Hometown: #{@user.hometown}
      %br
      Registered: #{@user.created_at.strftime("%d %B %Y")}   
      %br
      Created articles: #{@user.user_articles.count}
      %br
      -if @user==current_user
        =link_to "Edit profile", edit_user_registration_path
  %div{style: "margin-top: 320"}
    Articles:
    %br
    -@articles.each do |a|
      =link_to a do
        #{a.theme} | #{a.created_at.strftime("%d %B %Y")}
      %br
  