- content_for :title, @user.fullname
- if @user.paused
  %h1 #{@user.fullname} has been suspended his/her profile
- else
  .pander-sm
    .row
      .col-md-2
        %a{ data: { toggle: 'modal', target: ("#modal-avatar" if @user.avatar?) } }
          .imgHolder
            = image_tag @user.avatar.thumb.url, width: '180'
      .col-md-9
        .row
          .col-md-7
            %h2{style: 'margin:0px;'}
              = @user.fullname
            .label.label-success= @user.online? ? 'online' : "last activity #{time_ago_in_words(@user.updated_at)} ago."
            %br
            %br
            - if !@user.sex.nil?
              %i.fa.fa-lg{class: "fa-#{@user.gender}"}
              = @user.gender
              %br
            - if @user.hometown.present?
              %i.fa.fa-map-marker.fa-lg.text-danger
              = @user.hometown
              %br
            - if @user.born_date.present?
              %i.fa.fa-calendar-o.fa-lg.text-danger
              = "#{@user.born_date.strftime("%d %B %Y")}(#{@user.age} years)"
              %br
            - if Identity.where(id: current_user.id).any?
              .label.label-primary.label-lg
                %i.fa.fa-facebook.fa-lg
              &nbsp;Connected with facebook
          .col-md-5
            %br
            - if user_signed_in? && @user != current_user
              - if current_user.following?(@user)
                = render 'unfollow'
              - else
                = render 'follow'
              %br
              %a.btn.btn-default.btn-block.btn-primary{ data: { toggle: 'modal', target: '#modal-message' } }
                %i.fa.fa-envelope &nbsp;Private message
  %br
    .pander-sm
      - if @user.user_articles.any?
        %h1
          .label.label-success
            Articles
        .row
          - @user.user_articles.each do |article|
            .col-md-4= render 'articles/article', article: article
      - else
        %h1.text-center.text-muted= "#{@user.first_name} has no created any articles yet"
  = render "followers"
  = render "followed"
  = render "avatar_modal"
  = render "messages/form"

