- content_for :title, @user.fullname
- @ID =  @user.id
.container
  .col-md-6
    %h1= "#{@user.fullname}"
    - if current_user.following?(@user)
      = render 'unfollow'
    - else
      = render 'follow'
    %br
    - if @user.age
      Age: #{@user.age}
    %br
    - if @user.hometown
      Hometown: #{@user.hometown}
    %br
    Registered: #{@user.created_at.strftime("%d %B %Y")}
    %br
    Created articles: #{@user.user_articles.count}
    %br
    -if @user==current_user
      =link_to "Edit profile", edit_user_registration_path
  .col-md-6{align: "center"}
    =image_tag @user.avatar.thumb.url, align: "top", hspace: "20", vspace: "20"
    .thumbnail{align: "center"}
      %a{href: following_user_path(@user)}
        %strong= @user.followed_users.count
        following
      %a.text-success{href: "#", "data-target" => "#modal-followers", "data-toggle" => "modal"}
        %strong= @user.followers.count
        followers
      %br
      Your profile id completed for
      .row
        .col-md-6.col-md-offset-3
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{@complete}", role: "progressbar", style: "width: #{@complete}%;"}= "#{@complete} %"
  %h1 Articles:
  %br
  - @articles.each do |article|
    .col-sm-1.col-md-2
      .thumbnail
        = link_to article do
          = image_tag article.photo.url, class: "img-rounded"
          .caption
            %h4= "#{article.theme}"
#modal-followers.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title{align: "center"} Followers
      .modal-body
        = render "followers"
      .modal-footer
