- content_for :title, @user.fullname
- if @user.paused
  %h1 #{@user.fullname} has been suspended his/her profile
- else
  .pander-prof
    .col-md-offset-2
      %h2{style: 'margin:0px;display:inline;'}
        = @user.fullname
      %h5.label.label-warning.online-status= @user.online? ? 'online' : "last activity #{time_ago_in_words(@user.updated_at)} ago."
    .row.user-inform-pane
      .col-md-10.col-md-offset-2
        .row{style: 'color:white'}
          .col-md-4
            .text-center
              %h5
                %strong followers
              %a.counter{ href: '#', data: { toggle: 'modal', target: ('#modal-followers' if @followers.count > 0)}}
                %h3.followers_counter{style:'margin-top:0px'}= @user.followers.count
          .col-md-4
            .text-center
              %h5
                %strong followed
              %a.counter{ href: '#', data: { toggle: 'modal', target: ('#modal-followed' if @followed.count > 0)}}
                %h3{style:'margin-top:0px'}= @user.followed_users.count
          .col-md-4
            .text-center
              %h5
                %strong articles
              %h3{style:'margin-top:0px'}= @user.user_articles.count
    .row
      .col-md-2
        %a{ href: ("#" if @user.avatar?), data: { toggle: 'modal', target: ("#modal-avatar" if @user.avatar?) } }
          .imgHolder
            = image_tag @user.avatar.thumb.url, width: '180',heigh: '180', class: 'avatar img-circle'
            %br
            %br
        - if user_signed_in? && @user != current_user
          - if current_user.following?(@user)
            = render 'unfollow', user: @user
          - else
            = render 'follow', user: @user
          %a.btn.btn-block.btn-primary{ data: { toggle: 'modal', target: '#modal-message' } }
            %i.fa.fa-envelope 
            &nbsp;Private message
        - if @user == current_user
          .text-center{style: 'margin-left:24px'}
            = link_to edit_user_registration_path, class: 'btn btn-default' do
              %i.fa.fa-pencil 
              &nbsp;Edit profile
      .col-md-9
        .row
          .col-md-7
            %br
            %br
            - if !@user.sex.nil?
              %i.fa.fa-lg{class: "fa-#{@user.gender}"}
              = @user.gender
              %br
            - if @user.hometown.present?
              %i.fa.fa-map-marker.fa-lg.text-danger
              = @user.hometown
              %br
            - if @user.born_date.present?
              %i.fa.fa-calendar-o.fa-lg.text-danger
              = "#{@user.born_date.strftime("%d %B %Y")}(#{@user.age} years)"
              %br
            - if Identity.where(user_id: @user.id).any?
              .label.label-primary.label-lg
                %i.fa.fa-facebook.fa-lg
              &nbsp;Connected with facebook
        - if @user.about
          .row.about= "\"#{@user.about}\""

  %br
    .pander-sm
      - if @user.user_articles.any?
        %h1
          .label.label-success
            Articles
        .row
          - @user.user_articles.each do |article|
            .col-md-4= render 'articles/article', article: article
      - else
        %h1.text-center.text-muted= "#{@user.first_name} has no created any articles yet"
  = render "followers"
  = render "followed"
  = render "avatar_modal"
  = render "messages/form"

