- content_for :title, @user.fullname
- if @user.paused
  %h1 #{@user.fullname} has been suspended his/her profile
- else
  .pander-prof{style: "background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%), url(#{@user.cover.url}) repeat 0 0;"}
    - if @user == current_user
      .text-right
        .btn.btn-info.btn-sm.select-cover
          %i.fa.fa-file
          Edit cover
        = form_for current_user, url: { action: 'cover' } do |f|
          = f.file_field :cover, class: 'cover-image', style: 'display:none'

    .row
      .col-md-2{ style: 'z-index:800' }
        %a.text-center{ href: ("#" if @user.avatar?), data: { toggle: 'modal', target: ("#modal-avatar" if @user.avatar?) } }
          .imgHolder
            = image_tag @user.avatar.thumb.url, width: '180',heigh: '180', class: 'avatar img-circle'
        %hr
        - if user_signed_in? && @user != current_user
          - if current_user.following?(@user)
            = render 'unfollow', user: @user
          - else
            = render 'follow', user: @user
          %a.btn.btn-block.btn-primary{ data: { toggle: 'modal', target: '#modal-message' } }
            %i.fa.fa-envelope
            &nbsp;#{t('Private_message')}
        - if @user == current_user
          .text-center{style: 'margin-left:24px'}
            = link_to edit_user_registration_path, class: 'btn btn-default' do
              %i.fa.fa-pencil
              &nbsp;#{t('Edit_profile')}
      .col-md-10
        %h2{style: 'margin:0px;display:inline;'}
          = @user.fullname
        = @user.online? ? t('online') : "#{t('last_activity')} #{time_ago_in_words(@user.updated_at)} #{t('ago')}."
        .row.user-inform-pane
          .col-md-10.col-md-offset-2
            .row{style: 'color:white'}
              .col-md-4
                .text-center
                  %h5
                    %strong= t('followers')
                  = link_to users_followers_path(id: @user), remote: true, class: 'counter followers-btn' do
                    %h3.followers_counter{style:'margin-top:0px'}= @user.followers.count
              .col-md-4
                .text-center
                  %h5
                    %strong= t('followed')
                  = link_to users_followed_path(id: @user), remote: true, class: 'counter followed-btn' do
                    %h3{style:'margin-top:0px'}= @user.followed_users.count
              .col-md-4
                .text-center
                  %h5
                    %strong= t('articles')
                  %h3.scrart{style:'margin-top:0px'}= @user.user_articles.count
        .row
          .col-md-7
            - if @user.sex.present?
              %i.fa.fa-lg{class: "fa-#{@user.gender}"}
              = @user.gender
              %br
            - if @user.hometown.present?
              %i.fa.fa-map-marker.fa-lg.text-danger
              = @user.hometown
              %br
            - if @user.born_date.present?
              %i.fa.fa-calendar-o.fa-lg.text-danger
              = "#{@user.born_date.strftime("%d %B %Y")}(#{@user.age} years)"
              %br
            - if Identity.where(user_id: @user.id).any?
              .label.label-primary.label-lg
                %i.fa.fa-facebook.fa-lg
              &nbsp;#{t('Connected_with_facebook')}
        - if @user.about.present?
          .row.about= "\"#{@user.about}\""

  %br
    .pander-sm
      - if @user.user_articles.any?
        .row
          .col-md-8
            %h1
              .label.label-success
                = t('Articles')
          .col-md-4
            .pull-right
              .digg_pagination
                .page-info= page_entries_info @articles if @articles.total_pages > 1
                = will_paginate @articles
        .row.user_articles
          - @articles.each do |article|
            .col-md-4= render 'articles/article', article: article
      - else
        %h1.text-center.text-muted= "#{@user.first_name} has no created any articles yet"
= render 'messages/form'

