.row
  .col-md-offset-3
    .row
      .col-md-3
        .row
          = link_to  browse_articles_path(search: params[:search]), class: "btn btn-default btn-block btn-browse-exp #{'active-def-btn' if params[:action] == 'articles'}" do
            %h4 Articles
      .col-md-3
        .row
          = link_to browse_users_path(search: params[:search]), class: "btn btn-default btn-block btn-browse-exp #{'active-def-btn' if params[:action] == 'users'}" do
            %h4 Users
      .col-md-3
        .row
          = link_to browse_groups_path(search: params[:search]), class: "btn btn-default btn-block btn-browse-exp #{'active-def-btn' if params[:action] == 'groups'}" do
            %h4 Groups