= content_tag_for(:li, logable, user,  class: 'animated rotateInUpLeft timeline-inverted' ) do
  .timeline-badge.warning
    %i.fa.fa-lg.fa-eye
  .timeline-panel
    .timeline-body
      %h3{style: 'margin-top:0px;'} You have got new reader
      .pander
        = link_to user do
          = image_tag user.avatar.small.url, class: 'img-circle'
          = user.fullname
        read your article
        = link_to logable.article.theme, logable.article
        %em.text-muted= "#{time_ago_in_words(logable.created_at)} ago."