= content_tag_for(:li, logable, user, class: 'animated rotateInUpRight' ) do
  .timeline-badge.primary
    %i.fa.fa-lg.fa-comment
  .timeline-panel
    .timeline-body
      %h3{style: 'margin-top:0px;'} You have got new comment
      .pander
        = link_to logable.user do
          = image_tag logable.user.avatar.small.url, class: 'img-circle'
          = logable.user.fullname
        posted comment on your article
        = link_to logable.article.theme, logable.article
        %em.text-muted= "#{time_ago_in_words(logable.created_at)} ago."