= content_tag_for(:li, logable, user, class: 'animated rotateInUpLeft timeline-inverted' ) do
  .timeline-badge.default
    %i.fa.fa-lg.fa-bolt
  .timeline-panel
    .timeline-body
      %h3{style: 'margin-top:0px;'} New article
      .pander
        = link_to logable.user do
          = image_tag logable.user.avatar.small.url, class: 'img-circle'
          = logable.user.fullname
        created new article
        = link_to logable.theme, logable
        %em.text-muted= "#{time_ago_in_words(logable.created_at)} ago."