- content_for :title, "Browse"
= javascript_include_tag "browse"
-if user_signed_in?
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#articles"} Articles
    %li
      %a{"data-toggle" => "tab", :href => "#users"} Users
    %li
      %a{"data-toggle" => "tab", :href => "#comments"} Comments
  .tab-content
    #articles.tab-pane.active
      .page-header
        = form_tag articles_search_path, method: 'get', class: 'navbar-search pull-left' do
          %i.fa.fa-search.fa-inverse.fa-lg
          = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search article..."
      %br
      %hr
      %ul.media-list
        - @articles.each do |a|
          %li.well
            = link_to a do
              = image_tag a.photo.url(:thumb), align: "left", class: "img-circle"
              %h4= "#{a.theme}"
            %em.text-muted= "#{strip_tags(a.content)[0..200]} ...."
            %em.text-primary.text-right= link_to "#{a.user.fullname}", a.user
            %em.text-right= "at #{a.return_created_at_as_nice_string}"
    #users.tab-pane
      %ul.nav.nav-pills.nav-stacked
        - @users.each do |u|
          %li
            = link_to u do
              = image_tag u.avatar.small.url, class: "img-rounded"
              #{u.fullname}
              %p{align: "right"}= "#{u.user_articles.count} articles, #{u.comments.count} comments"
    #comments.tab-pane
      %ul.nav.nav-pills.nav-stacked
        - @comments.each do |c|
          %li
            = link_to "#" do
              = c.cut_content
              %p{align: "right"}
                = "on #{c.my_article}"
                = image_tag c.user.avatar.url(:small), class: "img-circle"
                = "#{c.user.fullname}"