= render 'nav_links'
.pull-right= will_paginate @users
%br
%br
%br
.pull-right
  .form-inline
    = form_tag browse_users_path, method: 'get', class: 'navbar-search pull-left' do
      = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search users"
      = button_tag(type: 'submit', class: "btn btn-primary") do
        %i.fa.fa-search.fa.lg.fa-inverse &nbsp;Search
%br
%br
.row
  - if @users.any?
    - @users.each do |user|
      .col-md-4= render "users/user", user: user
  - else
    %h3.text-center There are no users mathes "#{params[:search]}"