= render 'nav_links'
.row
  .col-md-6
    .digg_pagination= will_paginate @users
  .col-md-6
    %br
    .form-inline.pull-right
      = form_tag browse_users_path, method: 'get', class: 'navbar-search' do
        = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search users"
        = button_tag(type: 'submit', class: "btn btn-primary") do
          %i.fa.fa-search.fa.lg.fa-inverse
          &nbsp;Search
.row
  - if @users.any?
    - @users.each do |user|
      .col-md-4= render "users/user", user: user
  - else
    %h3.text-center There are no users mathes "#{params[:search]}"