%footer.footer
  .container
    .row
      .col-md-4
        .container
          %h3 Terms
          = link_to 'Terms of use(eula)', '/terms/eula'
          %br
          = link_to 'Webservice', '#'
          %br
          = link_to 'How to use', '#'
          %br
          = link_to 'About', '#'
      .col-md-4
        .container
          %h3 Cooperation
          = link_to 'I am programmer', '#'
          %br
          = link_to 'I am businessman', '#'
          %br
          = link_to 'Make suggestion', '#'
      .col-md-2
        .container
          %h3 Feedback
          = link_to 'Leave feedback', '#'
          %br
          = link_to 'Contact with developers', '#'
      .col-md-2
        %h2 Cillusion
        %strong.text-center Vitaliy Krushelnitskiy
        %h4 2013-2014&copy;