%div{title: "Welcome...", id: "dialog"}
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.email_field :email, :autofocus => true, placeholder: "Type your email here...", class: 'form-control'
    %br
    = f.password_field :password, placeholder: "Type your password here...", class: 'form-control'
    - if devise_mapping.rememberable?
      =label_tag do
        = f.check_box :remember_me
        Remember me
        %div{align: "left"}
          =f.submit "Sign in", class: "btn btn-success"
        %br
        %div{align: "center"}   
          =link_to "Create Profile", new_user_registration_path, class: "btn btn-warning"
          %button.btn.btn-default#close_dialog= "Close"
