#modal-login.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close#targetback{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
          %i.fa.fa-times
        %h4#myModalLabel.modal-title{align: "center"} Sign in/ Sign up
      .modal-body
        = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          .text-right
            = link_to user_omniauth_authorize_path('facebook'), class: 'btn btn-primary btn-sm' do
              %b
                Login with facebook&nbsp;
                %i.fa.fa-facebook.fa-lg
          %br
          = f.email_field :email, :autofocus => true, placeholder: "Type your email here...", class: 'form-control'
          %br
          = f.password_field :password, placeholder: "Type your password here...", class: 'form-control'
          - if devise_mapping.rememberable?
            = label_tag do
              = f.check_box :remember_me
              Remember me
          %br
          %b.text-muted.pull-right
            Do not have a profile?
            = link_to "Sign up", new_user_registration_path
          = f.submit "Sign in", class: "btn btn-success"
      .modal-footer
        = link_to "Create Profile", new_user_registration_path, class: "btn btn-warning"
