= javascript_include_tag "tooltip"
.navbar.navbar-default.navbar-fixed-top
  .container-fluid  
    .navbar-header
      = link_to root_path, class: "navbar-brand" do
        = image_tag "logo_min.png"
    .collapse.navbar-collapse
      - if user_signed_in?
        .navbar-form.navbar-left
          .form-group
            = form_tag articles_search_path, method: 'get' do
              = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search article..."
              = submit_tag "Search", name: nil
      .nav.navbar-right.navbar-nav
        -if user_signed_in?
          %li
            = link_to new_article_path, id: "add", "data-placement" => "top", "data-toggle" => "tooltip", title: "Create article", type: "button" do
              = image_tag "add.png"
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = image_tag current_user.avatar.small.url, class: "img-circle"
              #{current_user.fullname}
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "My Account", current_user 
              %li
                = link_to "My Calendar", articles_path
              %li
                = link_to "Logout", destroy_user_session_path, method: :delete        
        -else
          %li= link_to "Sign up", "#",  id: "dialog_link"
          = javascript_include_tag "dialogs"
          = render "layouts/login_register_frame"
