= javascript_include_tag "tooltip"
%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid  
    .navbar-header
      %a.navbar-brand{href: root_path} illusion
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li
            = link_to "Search article", articles_search_path
      .nav.navbar-right.navbar-nav
        -if user_signed_in?
          %li
            = link_to new_article_path, id: "add", "data-placement" => "left", "data-toggle" => "tooltip", title: "Create article", type: "button" do
              = image_tag "add.png"
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = image_tag current_user.avatar.small.url, class: "img-rounded"
              #{current_user.fullname}
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "My Account", current_user 
              %li
                = link_to "My Calendar", articles_path
              %li
                = link_to "Logout", destroy_user_session_path, method: :delete        
        -else
          %li= link_to "Sign up", "#",  id: "dialog_link"
          = javascript_include_tag "dialogs"
          = render "layouts/login_register_frame"
