.navbar.navbar-default.navbar-fixed-top
  .animated.fadeIn
    .container-fluid
      .navbar-header
        - if user_signed_in?
          - @main_path = browse_timeline_path
        - else
          - @main_path = root_path
        %a.navbar-brand
          = link_to @main_path, class: "navbar-brand animated bounceInLeft" do
            %i.fa.fa-eye.fa-lg Cillusion
      %button.navbar-toggle{'data-toggle' => 'collapse', 'data-target' => '.NAVCOl'}
        %i.fa.fa-bars.fa-lg
      .collapse.navbar-collapse.NAVCOl
        .nav.navbar-left.navbar-nav
          - if user_signed_in?
            %li
              = link_to browse_index_path do
                %i.fa.fa-book.fa-lg.animated.bounceInDown= " Browse"
            %li
              = link_to browse_timeline_path do
                %i.fa.fa-lg.fa-clock-o.animated.bounceInDown= " News"
            %li
              =link_to messages_path do
                %i.fa.fa-envelope.fa-lg.animated.bounceInDown=  " Messages"
                - @count = 0
                - current_user.recieved_messages.each do |m|
                  - if m.read == false
                    - @count += 1
                - if @count > 0
                  #span.badge= @count
        .nav.navbar-right.navbar-nav.animated.bounceInRight
          -if user_signed_in?
            %li
              = link_to new_article_path do
                %i.fa.fa-plus.fa-lg.text= " New Article"
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-lg.fa-user= " #{current_user.fullname}"
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to current_user do
                    %i.fa.fa-home= " My Account"
                %li
                  = link_to edit_user_registration_path(current_user) do
                    %i.fa.fa-gear= " Account settings"
                %li
                  = link_to articles_path do
                    %i.fa.fa-calendar= " My Calendar"
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %i.fa.fa-times= " Sign out"
          -else
            %li
              %a#target{href: "#", "data-target" => "#modal-login", "data-toggle" => "modal"} Sign up
- if !user_signed_in?
  = render "layouts/login_register_frame"