.navbar.navbar-inverse.navbar-fixed-top
  .animated.fadeIn
    .navbar-header
      - if user_signed_in?
        - @main_path = browse_timeline_path
      - else
        - @main_path = root_path
      %a.navbar-brand{ href: root_path } cillusion
    .container-fluid
      %button.navbar-toggle{'data-toggle' => 'collapse', 'data-target' => '.NAVCOl'}
        %i.fa.fa-bars
      .collapse.navbar-collapse.NAVCOl
        .nav.navbar-left.navbar-nav
          - if user_signed_in?
            %li{"data-toggle" => "tooltip", "data-placement" => "bottom", title: "Browse website"}
              = link_to browse_index_path do
                .rounded-btn
                  %i.fa.fa-book.fa-2x
            %li{"data-toggle" => "tooltip", "data-placement" => "bottom", title: "News timeline"}
              = link_to browse_timeline_path do
                .rounded-btn
                  %i.fa.fa-clock-o.animated.bounceInDown.fa-2x
            %li.headerDivider
            %li{"data-toggle" => "tooltip", "data-placement" => "bottom", title: "Messages"}
              =link_to messages_path do
                .rounded-btn
                  %i.fa.fa-envelope.animated.bounceInDown.fa-2x
                  - @count = 0
                  - current_user.recieved_messages.each do |m|
                    - if m.read == false
                      - @count += 1
                  - if @count > 0
                    #span.new_message= @count
            .pull-right
              = form_tag articles_search_path, method: 'get', class: 'navbar-search pull-left', style: "margin-top:7px;background-color:#9A9A9A;" do
                = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search article..."
        .nav.navbar-right.navbar-nav.animated.bounceInRight
          -if user_signed_in?
            %li{"data-toggle" => "tooltip", "data-placement" => "bottom", title: "Create new article"}
              = link_to new_article_path do
                .rounded-btn
                  %i.fa.fa-plus.text.fa-2x
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = image_tag current_user.avatar.small.url, class: 'img-circle', width: '48px'
                = current_user.first_name
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to current_user do
                    %i.fa.fa-home= " My Account"
                %li
                  = link_to edit_user_registration_path(current_user) do
                    %i.fa.fa-gear= " Account settings"
                %li
                  = link_to articles_path do
                    %i.fa.fa-calendar= " My Calendar"
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %i.fa.fa-times= " Sign out"
          -else
            %li
              %a#target.sign_up{href: "#", "data-target" => "#modal-login", "data-toggle" => "modal"} Sign up
- if !user_signed_in?
  = render "layouts/login_register_frame"