!!!
%html{lang: "en"}
  %head
    <meta name="google-site-verification" content="9B073HFTIXTPZP-W983VqQhCgu_FRNLL-alCsRPZOUw" />
    %meta{charset: "utf-8"}
    %title= "#{yield(:title)} cillusion"
    = stylesheet_link_tag  "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    - if !user_signed_in? || !current_user.paused
      = render "layouts/top"
    %div#divq
      - if yield(:title) == "Main"
        .row
          #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
            .carousel-inner
              .item.active
                %img{alt: "First slide", src: "#{asset_path '4.jpg'}"}/
                .header-text.hidden-xs
                  .col-md-12.text-center
                    %h2
                      %span
                        Welcome to
                        %strong CILLUSION
                    %br
                    %h3
                      %span If you are new in our website, register, or if else, login.
                    %br
                    %div
                      %a.btn.btn-theme.btn-sm.btn-min-block{href: new_user_session_path} Login
                      %a.btn.btn-theme.btn-sm.btn-min-block{href: new_user_registration_path} Register
              .item
                %img{alt: "Second slide", src: "#{asset_path '2.jpg'}"}/
                .header-text.hidden-xs
                  .col-md-12.text-center
                    %h2
                      %span
                        Don't know, what is
                        %strong CILLUSION
                        ?
                    %br/
                    %h3
                      %span Use info links below.
                    %br/
                    %div
                      %a.btn.btn-theme.btn-sm.btn-min-block{href: "#", data: { toggle: "modal", target: "#modal-video" } } Info video
                      %a.btn.btn-theme.btn-sm.btn-min-block{href: "http://illusion.wikia.com/wiki/Main_Page"} Wiki
              .item
                %img{alt: "Third slide", src: "#{asset_path '3.jpg'}"}/
                .header-text.hidden-xs
                  .col-md-12.text-center
                    %h2
                      %span Have any ideas
                    %br/
                    %h3
                      %span To make better Cillusion together.
                    %br/
                    %div
                      %a.btn.btn-theme.btn-sm.btn-min-block{href: "mailto:embox@ukr.net"} Send feedback to developer
            %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
              %span.fa.fa-angle-left.glyphicon.icon-prev
            %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
              %span.fa.fa-angle-right.glyphicon.icon-next
        = yield
      - else
        -if flash.each.count > 0
          - flash.each do |name, msg|
            - if msg.class == Array
              - msg.each do |message|
                = js add_gritter("#{msg}", title: name)
            - else
              - if flash[:notice]
                - title = 'Notification'
                - image = '/assets/notice.png'
              - else
                - title = 'Error'
                - image = '/assets/warning.png'
              = js add_gritter("#{msg}", image: image, title: title)
        %br
        .container
          - if !user_signed_in? || !current_user.paused
            = yield
          - else
            .row
              .col-md-3
                = link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-block"
                %br
                %br
                = form_for current_user do |f|
                  = f.hidden_field :paused, value: :false
                  = f.submit "Restore profile", class: "btn btn-success btn-block"
              %h1.text-muted.col-md-9.pander Your profile was suspeded
      - if !user_signed_in?
        = render 'layouts/video'

