!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title= "illusion"
    = stylesheet_link_tag  "application"
    = javascript_include_tag "application", "flash_modal"
    = csrf_meta_tag
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}
    = favicon_link_tag 'favicon.ico' 
  %body
    = render "layouts/top"
    %br
    .container
      .row
        -if user_signed_in?
          .col-md-9.col-md-push-3.container_pull 
            = yield
          .col-md-3.col-md-pull-9
            = render "layouts/left_column"
        -else
          = yield

-if flash.each.count > 0
  .modal.fade#flash
    .modal-dialog.modal-sm
      .modal-content 
        .modal-body
          = image_tag "notice.png"
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button", style: "float:right"} Ok
          - flash.each do |name, msg|
            - if msg.class == Array
              %ul
                - msg.each do |message|
                  %li
                    %h4{align: "center"}= label_tag message, id: "flash_#{name}"
            - else 
              %h4{align: "center"}= label_tag msg
          