!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title= "#{yield(:title)} | cillusion"
    = stylesheet_link_tag  "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}
    = favicon_link_tag 'favicon.ico'
  %body
    - if !user_signed_in? || !current_user.paused
      = render "layouts/top"
    %div#divq
      - if yield(:title) == "Main"
        .jumbotron
          .container
            %div{align: "center"}
              = image_tag "logo.png", class: "animated flipInX"
              %h1.animated.bounce{style: "color:white;"}= "Create your Articles"
            %p.animated.fadeIn#div1{style: "color:white;"}= "Howdy, Guest. Welcome to Cillusion web-service. Create the article and get new Followers, read articles from other users and enjoy the service."
            .row
              .col-md-6.col-md-offset-6
                .btn-group
                  = link_to "Create Profile", new_user_registration_path, class: "btn btn-default animated slideInLeft"
                  %a.btn.btn-warning{href: "#", "data-target" => "#modal-video", "data-toggle" => "modal"} View presentation video
                  = link_to "http://illusion.wikia.com/wiki/Main_Page", class: "btn btn-success animated slideInRight" do
                    Cillusion Wiki
                    %i.fa.fa-inverse.fa-angle-double-right.fa-lg
      - else
        .container
          -if flash.each.count > 0
            %br
            - flash.each do |name, msg|
              - if msg.class == Array
                %ul
                  - msg.each do |message|
                    %li
                      .alert.alert-info.animated.flash
                        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
                        = label_tag message, id: "flash_#{name}"
              - else
                - if flash[:notice]
                  .alert.alert-info.animated.flash#flash_info
                    %button.close#close_notice{"aria-hidden" => "true", type: "button"} ×
                    %i.fa.fa-info.fa-inverse= "   #{msg}"
                - if flash[:alert]
                  .alert.alert-warning.animated.flash#flash_warning
                    %button.close.close#close_alert{"aria-hidden" => "true", type: "button"} ×
                    %i.fa.fa-warning.fa-inverse= " #{msg}"
        %br
        - bodyClass = 'container';
        - if params[:controller] == 'users' && params[:action] == 'show'
          - bodyClass = 'container-full';
        %div{class: bodyClass}
          - if !current_user.paused
            = yield
          - else
            .row
              .col-md-3
                = link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-block"
                %br
                %br
                = form_for current_user do |f|
                  = f.hidden_field :paused, value: :false
                  = f.submit "Restore profile", class: "btn btn-success btn-block"
              %h1.text-muted.col-md-9.pander Your profile was suspeded
      - if !user_signed_in?
        = render 'layouts/video'

