!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title= "#{yield(:title)} | illusion"
    = stylesheet_link_tag  "application"
    = javascript_include_tag "application", "flash_modal"
    = csrf_meta_tag
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}
    = favicon_link_tag 'favicon.ico' 
  %body
    = render "layouts/top"
    .container  
      -if flash.each.count > 0
        .alert.alert-info
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
          - flash.each do |name, msg|
            - if msg.class == Array
              %ul
                - msg.each do |message|
                  %li
                    %h4{align: "center"}= label_tag message, id: "flash_#{name}"
            - else 
              %h4{align: "center"}= label_tag msg

    %br
    .container
      = yield
          