!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %title= "#{yield(:title)} | cillusion"
    = stylesheet_link_tag  "application"
    = javascript_include_tag "application", "flash_modal"
    = csrf_meta_tag
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}
    = favicon_link_tag 'favicon.ico'
  %body
    = render "layouts/top"
    -if yield(:title) == "Main"
      .jumbotron.main-d
        .container
          - if user_signed_in?
            - @name = current_user.first_name
          - else
            - @name = "Guest"
          %div{align: "center"}
            = image_tag "logo.png"
            %h1{style: "color:white;"}= "Create your Articles"
          %p{style: "color:white;"}= "Howdy, #{@name}. Welcome to Cillusion web-services. Create the article and get new Followers, read articles from other users and enjoy the service."
          %div{align: "right"}
            = link_to "http://illusion.wikia.com/wiki/Main_Page", class: "btn btn-success" do
              Cillusion Wiki
              %i.fa.fa-inverse.fa-angle-double-right.fa-lg
    .container
      -if flash.each.count > 0
        %br
        .alert.alert-info
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
          - flash.each do |name, msg|
            - if msg.class == Array
              %ul
                - msg.each do |message|
                  %li
                    = label_tag message, id: "flash_#{name}"
            - else
              = label_tag msg
    %br
    .container
      = yield
